gradle.properties
.gradle/
.idea
build/
.bsp
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.metals
**/.bloop
.bsp/
.vscode
project/pro
metals.sbt
metals/project/
project/metals.sbt